:root {
    --black: rgba(28, 28, 28, 1);
    --grey: rgba(233, 233, 233, 1);
    --white: rgba(235, 235, 235, 1);
    --violet-200: rgba(205, 205, 244, 1);
    --violet-500: rgba(144, 142, 231, 1);
    --violet-800: rgba(104, 104, 222, 1);
    --bleu-200: rgba(101, 130, 204, 1);
    --bleu-800: rgba(41, 51, 149, 1);
  }
  